.panel.panel-default
  .panel-heading
    .row
      .col-xs-6
        %h3.panel-title Test
      .col-xs-6
        %span.panel-title
          =link_to images_path, class: 'pull-right btn btn-xs btn-default' do
            %i.fa.fa-list-alt
            = "All #{controller_name.classify.humanize.pluralize}"
  .panel-body
    %p
      %b Image:
      = @image.image
    .row.text-right
      .col-xs-12
        =link_to edit_image_path, class: 'btn btn-xs btn-primary' do
          %i.fa.fa-pencil
          Edit
        =link_to edit_image_path, class: 'btn btn-xs btn-danger' do
          %i.fa.fa-trash
          Delete